.ukuta{background-color:red}
.name1{color:red; font-family:courier; font-size:20px}
.name2{color:green; font-family:serif; font-size:30px}
.name3{border-style:solid; color:blue; font-family:arial; font-size:40px; margin-right:250px; margin-left:250px; padding-right:10px; padding-left:10px}
.vipimo1{width:200; height:200px}
.vipimo2{width:300px; height:300px}
	.git{font-size:30px}